
server:
  port: 10070
  forward-headers-strategy: framework
#  servlet:
#    session:
#      timeout: 30m #session????,??1m
#      cookie:
#        http-only: true #?????????cookie
#        secure: true #???https??cookie, http????cookie


spring:
  application:
    name: lll-auth

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.1.100:3306/lll_authority
    username: root
    password: lll44556

  config:
    import: nacos:lll-auth.yaml?group=auth

  cloud:
    nacos:
      discovery:
        server-addr: 192.168.1.100:8848
        namespace: dev
      config:
        server-addr: 192.168.1.100:8848
        namespace: dev
  security:
    # 注册用户，用户通过OAuth2进行认证时，需要提供账户和密码
    user:
      name: user
      password: password
    oauth2:
      authorizationserver:
        client:
          # 客户端名称
          oidc-client:
            registration:
              # 客户端ID和密钥，配置在客户端配置文件中
              client-id: "oidc-client"
              client-secret: "{noop}secret"
              client-authentication-methods:
                - "client-secret-basic"
              # 授权类型：授权码，刷新令牌
              authorization-grant-types:
                - "authorization_code"
                - "refresh_token"
              redirect-uris:
                - "http://home.lll44556.top/login/oauth2/code/oidc-client"
              post-logout-redirect-uris:
                - "http://localhost:5173/"
              scopes:
                - "openid"
                - "profile"
            require-authorization-consent: false

      # 配置客户端
      client:
        registration:
          github:
            client-id: "Iv23lifoIJsxopoXsxzB"
            client-secret: "097b1448316ded58bd926a0ec63595614bee3c7d"
            # client-authentication-method: client_secret_basic
            authorization-grant-type: authorization_code
            redirect-uri: "http://192.168.1.100:11001/api/login/oauth2/code/github"

          gitee:
            client-id: "e6fdfa345b00e85bf218f833aa4078ded1407fa3e44c1a8b7b0d7825e20c03ee"
            client-secret: "bf136c8eea4e3dfe3a3b803d74f27644fb75663fe948f786e861aad9b72d7597"
            redirect-uri: "http://192.168.1.100:11001/api/login/oauth2/code/gitee"
            authorization-grant-type: authorization_code
            provider: gitee
            scope:
              - "user_info"

        provider:
          gitee:
            # 授权服务器地址
            authorization-uri: https://gitee.com/oauth/authorize
            # 访问令牌地址
            token-uri: https://gitee.com/oauth/token
#            jwk-set-uri: https://gitee.com/oauth/jwks
            user-info-uri: https://gitee.com/api/v5/user
            user-name-attribute: id



  session:
    timeout: 15h

  data:
    redis:
      host: 192.168.1.100
      port: 10010


logging:
  level:
    root: info
    org.springframework.security.oauth2.client: DEBUG
    org.springframework.web: DEBUG




