[submodule "lll-auth"]
	path = lll-auth
	url = git@github.com:lll-org/lll-auth.git
[submodule "lll-common"]
	path = lll-common
	url = git@github.com:lll-org/lll-common.git
[submodule "lll-user"]
	path = lll-user
	url = git@github.com:lll-org/lll-user.git
[submodule "lll-gateway"]
	path = lll-gateway
	url = git@github.com:lll-org/lll-gateway.git
